.members-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  overflow: auto;
}

.member {
  box-sizing: border-box;
  font-size: 0.75rem;
  height: fit-content;
  border: 1px solid #ccc;
  /* border-radius: 0.5rem; */
  padding: 0.25rem;
}
