.sprint-members-container {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.75rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.horizontal-chart-container {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 0.75rem;
}

.horizontal-chart-canvas-container {
  box-sizing: border-box;
  height: 95%;
  display: flex;
  gap: 1rem;
}

.pie-chart-container {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 0.75rem;
}

.story-ac-card {
  box-sizing: border-box;
  font-size: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.story-ac-card table,
tr,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0.25rem;
}

.members_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.selected_member {
  cursor: pointer;
  box-sizing: border-box;
  font-size: 0.75rem;
  height: fit-content;
  /* border: 1px solid #ccc; */
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #1b55dc;
  color: white;
}

.selecte_member_cont {
  font-weight:bold;
  font-size: 0.8rem;
}
