.ac_info_btn {
    cursor: pointer;
}

.header {
    position: relative;
}

.ac_info {
    z-index: 1;
    background-color: #44e073;
    padding: 3%;
    padding-left: 5%;
    position: absolute;
    top: -4vw;
    right: 1;
    font-size: 0.9rem;
    width: 100%;
    border-radius: 0.7rem;
}