* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #354a5f;
}

.custom-navbar {
  box-sizing: border-box;
  background-color: #ec53b0;
  /* background-color: #9d44c0; */
  /* background-color: #252f5c; */
  background-color: #d6cca0;
  background-color: #061621;
  height: 10vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-name {
  font-size: 1rem;
  color: white;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
}

.project-name span {
  font-size: 0.75rem;
  /* opacity: 0.75; */
}

.dashboard-name {
  font-size: 1rem;
  /* opacity: 0.75; */
  color: white;
  text-align: center;
}

main {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  height: 90vh;
}

.sprint-name {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.75;
  background-color: #9d44c0;
  color: white;
  font-style: italic;
}

#right-pane {
  box-sizing: border-box;
  width: 70% !important;
  overflow: auto;
  padding: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.75rem;
  /* row-gap: 1rem; */
  /* color: white; */
}

#right-pane .header {
  font-size: 0.85rem;
  font-weight: bold;
}

input[type="radio"]:hover {
  cursor: pointer;
}

.grid-item {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 7;
}

.grid-item-2 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 8;
}

.grid-item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 9;
}

.grid-item-4 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 9;
}

.grid-item-5 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 9;
}

.grid-item-6 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 8;
  grid-row-end: 13;
}

.grid-item-7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 13;
}

.grid-item-8 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 13;
}
