@mixin flex-container(
  $direction: row,
  $justify-content: center,
  $align-items: center,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

//color theme
$background: #121212;
$surface: #1e1e1e;
$primary: #bb86fc;
$onPrimary: #000000;
$onSurfacePrimary: #d4d4d4;
$onSurfaceSecondary: #c1c1c1;
$onSurfaceTertiary: #515151;
